body{
	background: url('images/body-background.png');
	margin: 0;
	color: #EAEAEA;
	font-family: 'Verdana';
	min-height: 100%;
	display: flex;
  	flex-direction: column;
}

html{
	height: 100%;
}

li{
	list-style: none;
}

.h3-header{
	margin: 10px 0px 10px 0px;
	display: inline-block;
}

.eq-highlight{
	box-shadow: 0 0 10px 2px rgb(32, 81, 123);
}

.eq-item-dropdown{
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
}

.vocation-img{
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
}

.main-container{
	width: 1280px;
	min-height: 100%;
	margin: auto;
	flex: 1;
}

.main-container:after {
  content: "";
  display: block;
}

.left-column{
	width: 25%;
	float: left;
	padding: 1em;
	box-sizing: border-box;
	background: #050F17;
	box-shadow: 0 0 10px 10px #091017;
}

.char-level{
	width: 45px;
}

.char-eq{
	height: 165px;
	width: 174px;
	margin: auto;
	margin-top: 1em;
	background-image: url("images/eq-background.png");
	position: relative;
}

.slot-amulet{
	top: 17px;
	left: 33px;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.slot-head{
	top: 7px;
	left: 71px;
	width: 32px;
	height: 32px;
	position: absolute;
	overflow: visible;
	cursor: pointer;
}

.eq-current-selected-item-image{
	width: 32px;
	height: 32px;
	position: absolute;
}

.slot-backpack{
	top: 17px;
	left: 109px;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.slot-left-hand{
	top: 53px;
	left: 33px;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.slot-chest{
	top: 43px;
	left: 71px;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.slot-right-hand{
	top: 53px;
	left: 109px;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.slot-ring{
	top: 89px;
	left: 33px;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.slot-legs{
	top: 79px;
	left: 71px;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.slot-gadget{
	top: 89px;
	left: 109px;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.slot-boots{
	top: 115px;
	left: 71px;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
}

.char-stance{
	height: 110px;
	width: 195px;
	margin: auto;
	margin-top: 30px;
	position: relative;
	background: url(images/balanced-stance.png);
}

#stance-offensive{
	top: 35px;
	left: 14px;
	width: 20px;
	height: 20px;
	position: absolute;
	cursor: pointer;
}

#stance-balanced{
	top: 56px;
	left: 14px;
	width: 20px;
	height: 20px;
	position: absolute;
	cursor: pointer;
}

#stance-defensive{
	top: 77px;
	left: 14px;
	width: 20px;
	height: 20px;
	position: absolute;
	cursor: pointer;
}

.mid-column{
	width: 55%;
	float: left;
	box-sizing: border-box;
	margin-bottom: 100px;
}

.eq-select-item-container{
	padding: 25px 20px 20px 0px;
}

.eq-select-item-container .current-selected{
	vertical-align: middle;
}

.eq-current-item-image-container{
	width: 32px;
	height: 32px;
	background: url('images/empty_slot.png') no-repeat; 
	display: inline-block;
	vertical-align: middle;
}

.current-tip{
	font-size: 12px;
	color: #888;
}

.eq-select-item-container .current-header span{
	font-size: 16px;
}

.current-header{
	vertical-align: middle;
	margin-left: 12px;
	display: inline-block;
}

#equipment-tab .option-box{
	padding-left: 20px;
	font-size: 12px;
	box-sizing: border-box;
	width: 48%;
	display: inline-block;
}

#quiver-image{
	background: url(images/Quiver.png);
	width: 195px;
	height: 69px;
}

#eq-item-ammunition{
	vertical-align: middle;
}

#quiver{
	margin: 40px 15px 40px 30px;
}

.empty-slot{
	width: 32px;
	height: 32px;
	background: url('images/empty_slot.png') no-repeat; 
	float: left;
}

.relic-slot{
	width: 32px;
	height: 32px;
	float: left;
}

#relic_bag{
	min-height: 100px;
}

#relic-bag-selectors{
	overflow: hidden;
	min-height: 20px;
}

#relic-bag-selectors div{
	margin: 0px 0px 10px 0px;
}

#relic-bag-selectors div .remove_relic{
	width: 16px;
	height: 16px;
	background: url(images/cross_red.png);
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
}

#relic-bag-selectors div .add_relic{
	width: 16px;
	height: 16px;
	background: url(images/plus_green.png);
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
}

.eq-warning{
	margin-left: 20px;
	font-size: 12px;
	color: red;
}

#skills-tab input{
	width: 80px;
	float: right;
	background-color: #000;
	color: #ccc;
	border: 1px solid #333;
}

#skills-tab ul{
	padding: 0;
}

#skills-tab li + li{
	margin-top: 10px;
}

.right-column{
	width: 20%;
	float: left;
	box-sizing: border-box;
	text-align: center;
	background: #050F17;
	box-shadow: 0 0 10px 10px #091017;
	max-height: calc(100vh - 42px);
	overflow: auto;
}

.stat-section h3{
	height: 33px;
	box-sizing: border-box;
	font-weight: normal;
	display: block;
	cursor: pointer;
	position: relative;
	margin: -1px 0 0 0;
	padding: .2em 1.5em;
	text-align: center;
	min-height: 0;
	font-size: 19px;
	background: linear-gradient(to bottom, rgb(26, 85, 117) 0%,rgb(1, 65, 111) 50%,rgb(26, 94, 147) 51%,rgb(38, 108, 159) 100%);
	box-shadow: inset 25px 0 25px -15px #121212,inset -25px 0 25px -15px #121212;
}

.stat-section ul{
	padding: 4px 12px;
	margin: 0;
}

.stat-section li{
	list-style: none;
	display: flex;
	font-size: 13px;
	font-weight: bold;
}

.stat-section ul.flex li > span:first-of-type{
	text-align: left;
	flex-grow: 1;
}

.stat-section ul.flex li > span:nth-of-type(2){
	flex-shrink: 0;
}

.tooltip-necronia{
	border: #205b71 1px solid;
	border-radius: 5px;
	background: rgba(11,30,48,0.75);
	color: #FFF;
	font-weight: bold;
	text-align: center;
	font-size: 11px;
}

.tooltip-necronia2{
	border: #205b71 1px solid;
	border-radius: 5px;
	background: rgb(11,30,48);
	color: #FFF;
	font-weight: bold;
	text-align: center;
	font-size: 11px;
}

.tooltip-necronia .qtip-content{
	text-align: center;
}

.site-footer, .main-container:after{
	text-align: center;
	background: #194f77;
}

.site-footer a{
	color: #c7e022;
}

.physical{
	color: #808080;
}

.holy{
	color: #FFFF02;
}

.death{
	color: #080000;
	text-shadow: 0px 0px 15px white;
}

.fire{
	color: #FF8400;
}

.energy{
	color: #8723A7;
}

.ice{
	color: #00C0F1;
}

.earth{
	color: #006612;
}

/*//////////////////// FANCY PANEL /////////////////////////*/

.flex-mp-container > * {padding: 10px 0;}
.mp-navigation {padding: 0;}
#featured-media {padding-top: 0;}
.necronia-panel {position: relative; height:100%; max-width: 191px; float:left; margin-right: 30px;}
.np-content {padding: 1px; position: relative;}
.np-middle::before {left: 0;}
.np-middle::after {right: 0;}
.np-middle::before, .np-middle::after {content: ""; z-index: 1;}
.np-top::before, .np-top::after, .np-bottom::before, .np-bottom::after {z-index: 2;}
.np-top::before, .np-top::after, .np-middle::before, .np-middle::after, .np-bottom::before, .np-bottom::after {position: absolute;}
.np-bottom::before, .np-bottom::after {bottom: 0;}
.np-top::before, .np-bottom::before {left: 0;}
.np-top::after, .np-bottom::after {right: 0;}
.np-wrap { display: inline-block; }
.np-body {
  position: relative; 
  margin: 20px;
}
.np-header {
  margin: 10px 0;
  text-align: center;
}
.np-text {
  max-width: 70ex;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.np-text p { text-align: justify; }

.np-simple .np-top::before     {width: 47px; height: 47px;}   /* top left corner */
.np-simple .np-top::after      {width: 47px; height: 47px;}   /* top right corner */
.np-simple .np-bottom::before  {width: 47px; height: 47px;}   /* bottom left corner */
.np-simple .np-bottom::after   {width: 47px; height: 47px;}   /* bottom right corner */
.np-simple .np-top::before {content: url(images/top_left.png);}
.np-simple .np-top {background: url(images/horizontal_up.png);}
.np-simple .np-top::after {content: url(images/top_right.png);}
.np-simple .np-middle::before {background: url(images/vertical_left.png);}
.np-simple .np-middle {background: #0a1b2b;}
.np-simple .np-middle::after {background: url(images/vertical_right.png);}
.np-simple .np-bottom::before {content: url(images/bottom_left.png);}
.np-simple .np-bottom {background: url(images/horizontal_down.png);}
.np-simple .np-bottom::after {content: url(images/bottom_right.png);}

.np-simple {min-height: 44px;}      /* = */
.np-simple .np-top {
  height: 21px;                     /* = top border height */
  margin: 0 11px;                   /* = left & right border width */
}
.np-simple .np-middle::before {
  height: calc(100% - 32px);        /* = panel height - top border height - bottom border height @READY */
  width: 11px;                      /* = left border width */
}
.np-simple .np-middle {
  height: calc(100% - 32px);        /* = @READY above */
  margin: 0 11px;                   /* = left & right border width */
}
.np-simple .np-middle::after {
  top: 21px;                        /* = top border height */
  height: calc(100% - 32px);        /* = @READY above */
  width: 11px;                      /* = right border width */
}
.np-simple .np-bottom {
  margin: 0 11px;                   /* = left & right border width */
  height: 11px;                     /* = bottom border height */
}

.np-middle-padding{padding:1px 4px 2px 5px; min-width:191px; min-height: 32px;}